<div class="well" style="width:300px; padding: 8px 0;">
    <div style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
	<ul class="nav nav-list">
	    <li><label class="tree-toggler nav-header">How-To ( master 2.x-dev )</label>
		<ul class="nav nav-list tree">
			<li><a class="internal present" href="/wiki/Requirements">Requirements</a></li>
			<li><a class="internal present" href="/wiki/Installation">Installation</a></li>
			<li><a class="internal present" href="/wiki/Contribute">How to contribute (report issues, open pull requests, edit wiki)</a></li>
			<li><a class="internal present" href="/wiki/Dealing-with-SQL-files">Dealing with SQL files</a></li>
			<li><a class="internal present" href="/wiki/Create-a-Module">Create a Module</a></li>
			<li><a class="internal absent" href="/wiki/Create-a-Script">Create a Script</a></li>
			<li><a class="internal present" href="/wiki/how-to-work-with-conf-files">Work with configuration files (.conf &amp; .conf.dist)</a></li>
			<li><a class="internal present" href="/wiki/Extract-Client-Data">Extract client data (maps, mmaps, vmaps, dbc)</a></li>
		</ul>
	    </li>
	    <li class="divider"></li>
	    <li><label class="tree-toggler nav-header">Current supported Versions</label>
		<ul class="nav nav-list tree">
		    <li><a class="internal present" href="/wiki/release_1.x">Release 1.x - First Composition</a></li>
		</ul>
	    </li>
	    <li class="divider"></li>
	    <li><label class="tree-toggler nav-header">Documentation</label>
		<ul class="nav nav-list tree">
			<li><a class="internal present" href="/wiki/The-Modular-Structure">The Modular Structure</a></li>
			<li><a class="internal present" href="/wiki/Directory-Structure">Directory Structure</a></li>
			<li><a class="internal present" href="/wiki/Project-Versioning">Project Versioning</a></li>
			<li><a class="internal present" href="/wiki/Coding-Standards">Coding Standards</a></li>
			<li><a class="internal present" href="/wiki/SQL-Versioning">Sql Versioning</a></li>
			<li><a class="internal present" href="/wiki/Hooks-Bash">Hooks Bash</a></li>
			<li><a class="internal present" href="/wiki/Hooks-Cmake">Hooks Cmake</a></li>
			<li><a class="internal present" href="/wiki/Create-a-new-Hook">Hooks C++</a></li>
			<li><a class="internal present" href="/wiki/database-structure">Database Structure</a></li>
		</ul>
	    </li>
	    <li class="divider"></li>
	    <li><label class="tree-toggler nav-header">Archive</label>
		<ul class="nav nav-list tree">
		    <li><a class="internal present" href="/wiki/Original-SunwellCore-Description">Original SC Description</a></li>
		    <li><a class="internal present" href="/wiki/Previous-Version-Documentation">Archived Versions Documentation</a></li>
		</ul>
	    </li>
	    <li class="divider"></li>
	    <li><label class="tree-toggler nav-header">Old unsupported Versions</label>
		<ul class="nav nav-list tree">
		    <li><a class="internal present" href="/wiki/release_0.x">Release 0.x - SunWell</a></li>
		</ul>
	    </li>
    </div>
</div>
<script>
  $(document).ready(function () {
    $('label.tree-toggler').click(function () {
        $(this).parent().children('ul.tree').toggle(300);
    });
  });
</script>
